body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.hidden{
    display: none;
}

.btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
}