body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.hidden{
    display: none;
}

.btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image{
    
}

.container{
    margin-top: 50px;
    width: 90vw;
}

.left-btn{
    font-size: 20px;
}

.right-btn{
    font-size: 20px;
}

.img-txt{
    width: 450px;
}

#threejs-background {
    width: 90vw;
    height: 90vh;
    overflow: hidden;
}